
/* img {
	width: 150px;
} */
	
input {
	width: 350px;
	margin-left: 20px;
	
}
.tag_p {
	color: red;
	font-size: 20px;
	border: red 3px solid;
	margin-left: 30px;
	padding: 3px;
}
.my_class {
	color: red;
	font-size: 40px;
	border: red 1px solid;
	margin-left: 10px;
	padding: 5px;
}
	
.my_class_2 {
	color: green;
	font-size: 40px;
	border: red 1px solid;
	margin-left: 10px;
	padding: 5px;
}

/* Обводка  */
.red {
	border: 1px solid red;
}

/* Обводка  */
.blue {
	border: 1px solid blue;
}

.red_text {
	color: red;
}

.green_text {
	color: green;
}

.dom-example {
	border: 1px solid blue;
}

.counter {
	color: green;
	font-size: 40px;
	margin-left: 50px;
	padding: 5px;
}
